<launch>
    <include file="$(dirname)/cuda.launch">
        <arg name="node_name" value="rslidar_M1" />
        <arg name="pcd_topic" value="/rslidar_M1" />
        <arg name="vis_topic" value="/marker_M1" />
        <arg name="vis_color" value="green" />
    </include>

   
    <!-- /rslidar_M1  /rslidar_P80 -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_rslidar"
        args="0 0 0 0 0 0 map rslidar 10" />

    <!-- /rslidar_M1  /rslidar_P80 -->

    <node pkg="tf" type="static_transform_publisher" name="aeva_1_sensor"
        args="0 0 0 0 0 0 aeva/1/sensor rslidar 10" />


    <include file="$(dirname)/cuda.launch">
        <arg name="node_name" value="rslidar_P80" />
        <arg name="pcd_topic" value="/rslidar_P80" />
        <arg name="vis_topic" value="/marker_P80" />
        <arg name="vis_color" value="red" />
    </include>

    <include file="$(dirname)/cuda.launch">
        <arg name="node_name" value="new_lidar" />
        <!-- <arg name="pcd_topic" value="/njust/1/point_cloud_compensated" /> -->
        <arg name="pcd_topic" value="/point_cloud_topic" />
        <arg name="vis_topic" value="/marker_new" />
        <arg name="vis_color" value="blue" />
    </include>

    <!-- <include file="$(find rslidar_sdk)/launch/start.launch" /> -->

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(dirname)/lidar_rviz.rviz" required="true" />

</launch>
