<launch>
    <!-- <include file="$(dirname)/cuda.launch">
        <arg name="node_name" value="rslidar_M1" />
        <arg name="pcd_topic" value="/rslidar_M1" />
        <arg name="vis_topic" value="/marker_M1" />
        <arg name="vis_color" value="green" />
    </include> -->
    <include file="$(dirname)/cuda.launch">
        <arg name="node_name" value="rslidar_P80" />
        <arg name="pcd_topic" value="/rslidar_P80" />
        <arg name="vis_topic" value="/marker_P80" />
        <arg name="vis_color" value="red" />
    </include>
    <include file="$(find rslidar_sdk)/launch/start.launch" />
</launch>