__pycache__
.vscode/
pointpillars_ws/build
pointpillars_ws/devel
CUDA-CenterPoint
pointpillars_ws/src/CUDA-CenterPoint

pointpillars_ws/src/bevfusion/libraries/
pointpillars_ws/src/bevfusion/model/
pointpillars_ws/src/bevfusion/*.plan
pointpillars_ws/src/bevfusion/*.log

*.zip
*.bin

*.engine
*.cache