<launch>
    <arg name="node_name" default="rslidar" />
    <arg name="pcd_topic" default="/rslidar" />
    <arg name="vis_topic" default="/marker" />
    <arg name="vis_color" default="red" />

    <node name="$(arg node_name)_cia" pkg="cia" type="lidar_cia" output="screen" args="-d">
        <param name="lidar_topic" type="str" value="$(arg pcd_topic)_processed" />
        <!-- <param name="vis_topic" type="str" value="$(arg vis_topic)_cia" /> -->
        <param name="vis_topic" type="str" value="$(arg vis_topic)" />
        <param name="vis_color" type="str" value="$(arg vis_color)" />

    </node>

</launch>